
h1, h2, h4, h5, h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: normal; color: #159957; }

h3 {  margin-bottom: 1rem; font-weight: normal; color: #159957; }

body { padding: 0; margin: 2rem; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; color: #606c71; }


.btn {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.btn:disabled {
        background-color: gray;
        opacity: 0.3;
}



#spectrogram, #spectrogram_2 {
	height: 200px;
}	

#spectrogram_img, #spectrogram_img_2 {
	height: 200px;
	overflow: hidden;
	clip: rect(16px,300px,200px,0px);
	position: absolute;

}

.rl {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1px;
	z-index: 1;
}

.yb {
	position: absolute;
	top: 0;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: 10;
	opacity: 0.3;
}


.spect_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.transparent_cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}



.img_box {
	position: relative;
	height: 100px;
	width: 200px;

}

.praat {
	border-style: solid;
	display: inline-block;
	width: 245px;
	height: 200px;
}


.speaker {
	display: inline-block;
	width: 590px;
	border-style: solid;
}

.name {
	display: inline-block;
	width: 75px;
}


.axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    /*.x.axis path {
        display: none;
    }*/
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

.graph {
	width: 400px;
	height: 325px;
	display: inline-block;
	border-style: solid;
}

.corpus {
	width: 400px;
	height: 400px;
	display: inline-block;
	border-style: solid;
	overflow: scroll;


}

.posterior_box {
	width: 290px;
	height: 200px;
	display: inline-block;
	border-style: solid;
}


