---
---

html {
  background:white;
}

body {
  padding:50px 0;
  margin:0;
  font:14px/1.5 Verdana, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#555;
  font-weight:300;
  background:white;
}


.contentwrapper {
  max-width:800px;
  margin:0 auto;
  background:white;
  /*border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2), 0 3px 10px rgba(0,0,0,0.45);*/
}

.demowrapper {
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 0 0 3px rgba(0,0,0,0.2), 0 3px 10px rgba(0,0,0,0.45);
}

header, section, footer {
  display:block;
}

a:link {
  color:#1292d4;
  text-decoration:none;
}

a:visited {
  color:#1292d4;
  text-decoration:none; 
}

a:hover {
    color: #1292d4;
    text-decoration: underline;
}

a:active {
    color: #1292d4;
    text-decoration: underline;
}

p {
  margin:0 0 20px;
  padding:0;
}

strong {
  color:#222;
  font-weight:700;
}

header {
  border-radius: 8px 8px 0 0;
  background:#C6EAFA;
  background: linear_gradient(#DDFBFC, #C6EAFA);
  position:relative;
  padding:15px 20px;
  border-bottom:1px solid #B2D2E1;

  h1 {
    margin:0;
    padding:0;
    font-size:24px;
    line-height:1.2;
    color:#069;
    text-shadow:rgba(#fff, 0.9) 0 1px 0;
  }

  &.without-description h1 {
    margin:10px 0;
  }

  p {
    margin:0;
    color:#61778B;
    width:300px;
    font-size:13px;

    &.view {
      display:none;
      font-weight:700;
      text-shadow:rgba(#fff, 0.9) 0 1px 0;
      -webkit-font-smoothing:antialiased;

      a {
        color:#06c;
      }

      small {
        font-weight:400;
      }
    }
  }

  ul {
    margin:0;
    padding:0;
    list-style:none;
    position:absolute;
    z-index:1;
    right:20px;
    top:20px;
    height:38px;
    padding:1px 0;
    background:#5198DF;
    background: linear_gradient(#77B9FB, #3782CD);
    border-radius:5px;
    box-shadow: inset rgba(#fff, 0.45) 0 1px 0, inset rgba(#000, 0.2) 0 -1px 0;
    width:auto;

    &:before {
      content:'';
      position:absolute;
      z-index:-1;
      left:-5px;
      top:-4px;
      right:-5px;
      bottom:-6px;
      background:rgba(#000, 0.1);
      border-radius: 8px;
      box-shadow: rgba(#000, 0.2) 0 -1px 0, inset rgba(#fff, 0.7) 0 -1px 0;
    }

    li {
      width:79px;
      float:left;
      border-right:1px solid #3A7CBE;
      height:38px;

      &.single {
        border:none;
      }
    }

    li + li {
      width:78px;
      border-left:1px solid #8BBEF3;
    }

    li + li + li {
      border-right:none;
      width:79px;
    }

    a {
      line-height:1;
      font-size:11px;
      color:#fff;
      color:rgba(#fff, 0.8);
      display:block;
      text-align:center;
      font-weight:400;
      padding-top:6px;
      height:40px;
      text-shadow:rgba(#000, 0.4) 0 -1px 0;

      strong {
        font-size:14px;
        display:block;
        color:#fff;
        -webkit-font-smoothing:antialiased;
      }
    }
  }
}


/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 350px;
  border: none;
  cursor: pointer;
  z-index:1000;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
  outline:none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

section {
  padding:15px 20px;
  font-size:14px;
  border-top:1px solid #fff;
  background: linear_gradient(#fafafa, #DEDEDE 700px);
  border-radius: 0 0 8px 8px;
  position:relative;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  padding:0;
  margin:0 0 20px;
  line-height:1.2;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

blockquote {
  margin:0 -20px 20px;
  padding:15px 20px 1px 40px;
  font-style:italic;
  background:#ccc;
  background:rgba(#000, 0.06);
  color:#222;
}

img {
  max-width:100%;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
  overflow-x:auto;
}

pre {
  padding:20px;
  background: #3A3C42;
  color:#f8f8f2;
  margin:0 -20px 20px;

  code {
    color:#f8f8f2;
  }

  li & {
    margin-left:-60px;
    padding-left:60px;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  border-bottom: none;
}

dt {
  color:#222;
  font-weight:700;
}

th {
  color:#222;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#aaa;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:640px;
  margin:0 auto;
  padding:20px 0 0;
  color:#555;
  overflow:hidden;

  a {
    color:#069;
    font-weight:bold;
  }

  p {
    float:left;
  }

  p + p {
    float:right;
  }
}

@media print, screen and (max-width: 740px) {
  body {
    padding:0;
  }

  footer {
    border-radius: 0;
    padding:20px;
    width:auto;

    p {
      float:none;
      margin:0;
    }

    p + p {
      float:none;
    }
  }
}

@media print, screen and (max-width:580px) {
  header ul {
    display:none;
  }

  header p.view {
    display:block;
  }

  header p {
    width:100%;
  }
}

@media print {
  header p.view a small:before {
    content:'at https://github.com/';
  }
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.flex_container {
  display: flex;
  justify-content: space-between;
}


.demo {
    color: blue;
    cursor: pointer;
}

.demo:hover {
    color: purple;
    background: lightgrey;
}




.hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	background: #fff;
	table-layout: fixed;
	margin: 0px;
	max-width: 470px;
	border-collapse: collapse;
	text-align: center;
	border-top: 2px solid #6678b1;
	border-bottom: 2px solid #6678b1;
}
.hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	text-align: center;
}

.hor-minimalist-a tr.top
{
	border-bottom: 2px solid #6678b1;
}

.hor-minimalist-a td
{
	color: #669;
	padding: 9px 8px 0px 8px;
	text-align: left;
}
.hor-minimalist-a tbody tr:hover td
{
	color: #009;
	background-color: lightgray;
}


.vinv 
{
	width: 20px;
	color: red;
	float: left;
	background-color: lightgray;
	text-align: center;
}

.vinv:hover {
	background-color: lightblue;
}

.vinvbtn {
	border-radius: 7px;
	background-clip: padding-box;
	outline: 0 none;
}



/* Dropdown Button */
.trainbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 200px;
  border: none;
  cursor: pointer;
  z-index:1000;
  border-radius: 10px;
}

/* Dropdown button on hover & focus */
.trainbtn:hover {
  background-color: #2980B9;
}

.trainbtn:disabled, .trainbtn[disabled] {
  background-color: lightgray;
}


.startstopbtn {
  background-color: #8c1aff;
  color: white;
  padding: 12px;
  font-size: 13px;
  width: 100px;
  border: none;
  cursor: pointer;
  z-index:1000;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Dropdown button on hover & focus */
.startstopbtn:hover {
  background-color: #4d0099;
}



/* Dropdown Button */
.genbtn {
  background-color: #8c1aff;
  color: white;
  padding: 12px;
  font-size: 13px;
  width: 120px;
  border: none;
  cursor: pointer;
  z-index:1000;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Dropdown button on hover & focus */
.genbtn:hover {
  background-color: #4d0099;
}

td.cellcollapsible {display:block; }
th.cellcollapsible {display:block; }

@media only screen and (max-width: 500px) {
	td.cellcollapsible {display:none; }
	th.cellcollapsible {display:none; }
}

@media only screen and (max-width: 775px) {
	div.params {
		border-right-style: none;
	}
	div.manual {
		border-top: 1pt solid black;
	}
}


@media only screen and (min-width: 776px) {
	div.params {
		border-right: 1pt solid black;
	}
	div.manual {
		border-top-style: none;
	}
}


.thousands {
	table-layout: auto;
	font-size: 14px;
}

.thousands td, th {
	padding: 0px 20px 0px 0px;
}

.outertable {
	margin: auto;
	max-width: 600px;
	overflow-x: auto;
}


